
<!DOCTYPE HTML>
<!--
	EmoNews by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>EEE 5014 Final Year Project</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css')}}">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css')}}">
	</head>
	<body>
		<!-- Wrapper -->
			<div class="wrapper style1">
				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/">EmotioNews</a>by Libazisa Kunda</h1>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->
				<!-- Page -->
					<div id="page" class="container">
						<section>
							<header class="major">
								<h2>News Stories From Africa</h2>
								<h3 class="byline">These are the news stories making headlines in Africa and the emotions being expressed on those Stories</h3>
							</header>
              <div>
              <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Story</th>
      <th>Sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>[African populations contain a huge proportion of humanity's genetic data but only a tiny amount of it is used in genetic research. Ashionye Ogene explains why Africa's genetic diversity is so unique, and how it can benefit humanity.]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>1</th>
      <td>[Four months after the body of a suspected stowaway fell from a Kenya Airways plane into a London garden, we still don't know who he was. Why has it taken so long, when the police have a record of the fingerprints of all adult Kenyans?]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>2</th>
      <td>["It's more than just a hobby for me." This Senegalese breakdancing crew are hoping to swap their practice beach for the Paris 2024]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[There is huge concern over the safety of the Kenya's main food, known as ugali. Here's why]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>4</th>
      <td>["I was so happy to come back," Fatmata says. "But I wish I had not."\n\nFor some West African migrants who fail to reach Europe &amp; return to their own countries, it can be a bitter homecoming.]</td>
      <td>Neutrality</td>
    </tr>
  </tbody>
</table>
              </div>
				<!-- /Page -->
				<!-- Copyright -->
		<div id="copyright">
			<div class="container"> <span class="copyright">Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</span>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
