<!DOCTYPE HTML>
<!--
	EmoNews by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>EmotioNews EEE 5014 2019</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
         	<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css')}}">
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/">EmotioNews by Libazisa Kunda</a></h1>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->

				<!-- Page -->
					<div id="page" class="container">
						<section>
							<header class="major">
								<h2>Test the Emotion of a Comment</h2>
								<form action="/predict_comment" method="POST">
		                                                <textarea name="message" rows="6" cols="50"></textarea>
                                                                <br/>
                                                                <input type="submit" class="btn-info" value="predict">
                                                                </form>
                                                 </section>
					</div>
				<!-- /Page -->

				<!-- Copyright -->
		<div id="copyright">
			<div class="container"> <span class="copyright">Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</span>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
