
<!DOCTYPE HTML>
<!--
	EmoNews by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>EEE 5014 Final Year Project</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css')}}">
	</head>
	<body>
		<!-- Wrapper -->
			<div class="wrapper style1">
				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/">EmotioNews</a>by Libazisa Kunda</h1>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->
				<!-- Page -->
					<div id="page" class="container">
						<section>
							<header class="major">
								<h2>News Stories From The Rest of the World</h2>
								<h3 class="byline">These are the news stories making headlines in the World and the emotions being expressed on those Stories</h3>
							</header>
              <div>
              <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Story</th>
      <th>Sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>[The streaming giant has taken out a 10-year lease on the historic Paris Theater in New York.]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>1</th>
      <td>[Meet Kondzilla - the Brazlian YouTuber with 26 billion views.]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>2</th>
      <td>[Apple Maps now shows Crimea - annexed from Ukraine in 2014 - as part of Russia, when viewed inside the country.]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>3</th>
      <td>[With the internet partially restored in Iran, videos have begun appearing that paint the picture of a bloody crackdown.]</td>
      <td>Neutrality</td>
    </tr>
    <tr>
      <th>4</th>
      <td>[Donald Trump has vowed to "wage war on the drug cartels" after a deadly attack on US citizens in Mexico earlier this month.]</td>
      <td>Neutrality</td>
    </tr>
  </tbody>
</table>
              </div>
				<!-- /Page -->
				<!-- Copyright -->
		<div id="copyright">
			<div class="container"> <span class="copyright">Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</span>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
